<ion-view title="Main" id="page6" style="background-color:#3FA9F5;">
  <ion-content padding="true" class="has-header">
    <div id="main-button-bar1" class="button-bar">
      <button id="main-button11" class="button button-positive">My Profile</button>
      <button id="main-button10" class="button button-positive">Medical Records</button>
    </div>
    <div id="main-button-bar3" class="button-bar">
      <button id="main-button16" class="button button-positive">Appointments</button>
      <button id="main-button17" class="button button-positive">Medications</button>
    </div>
    <div id="main-button-bar4" class="button-bar">
      <button id="main-button18" class="button button-positive">Care Plan</button>
      <button id="main-button19" class="button button-positive">Consultation Notes</button>
    </div>
  </ion-content>
</ion-view>