<ion-view title="Allergies" id="page15" style="background-color:#FFFFFF;">
  <ion-content padding="false" class="has-header">
    <div class="list card" ng-repeat="allergy in allergies">
      <div class="item item-divider">Allergen</div>
      <div class="item item-body">
        <div>
          {{allergy.Causative_agent}}
        </div>
      </div>
      <div class="item item-divider">Symptoms</div>
      <div class="item item-body">
        <div>
          {{allergy.Manifestation}}
        </div>
      </div>
      <ion-item ng-show="!allergies">No allergies to display</ion-item>
    </div>
  </ion-content>
</ion-view>
