<ion-view title="Appointments" id="page17">
  <ion-nav-buttons side="right" class="has-header">
      <button ui-sref="bookAppointment" class="button button-icon icon ion-android-add ion-header-icon"></button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">

   <h1 style="font-weight:normal;text-align:center;font-size:24px;color:#3FA9F5;position:relative;">Today is {{currentDate}}</h1>

  <ion-list can-swipe="true">
      <ion-item style="white-space: normal;" ng-repeat="(key, appointment) in appointments" class="item-icon-right">
        <h2 style="white-space: normal; color:#7F7F7F;">{{appointment.description}}</h2>
        <p style="white-space: normal; color:#F46A00 ;">{{appointment.doctor}} <span style="white-space: normal; color:#35B200;">{{appointment.location}}</span></p>
        <p style="white-space: normal; color:#3FA9F5;">{{appointment.datetime}}</p>

        <div class="item-icon-right">
          <a href="javascript:void(0)" class="" style="color:#3FA9F5" ng-click="showPopup(appointment);"><i class="icon ion-ios-location"></i></a>
        </div>

        <ion-option-button class="button-assertive" ng-click="removeAppointment('{{key}}')">Delete</ion-option-button>
      </ion-item>
      <ion-item ng-show="!appointments">No appointments to display</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
