<ion-view title="Care Plan">
  <ion-content padding="false" class="has-header">
    <div class="list list-inset" style="padding: 15px;">
      <a nav-transition="none" ui-sref="editCareplan" class="button button-icon icon ion-edit"></a>
      <br>
      <span style="color: #A5A5A5; font-size:12px; float:right;">Last updated on {{data.datetime}}</span>
      <textarea style="background: #3FA9F5; color:#ffffff; width: 100%;max-width: 100%; height: 70vh; padding: 10px;" ng-model="data.careplan" readonly></textarea>
    </div>
  </ion-content>
</ion-view>
