<ion-view title="Care Plan">
  <ion-content padding="true" class="has-header">
    <a style="text-decoration: none;" ui-sref="careplan"><button style="background: #3FA9F5; text-decoration: none;" class="button icon-right ion-document-text button-positive button-block">View Care Plan</button></a>
    <a style="text-decoration: none;" ui-sref="careteam"><button style="background: #3FA9F5; text-decoration: none;" class="button icon-right ion-ios-people button-positive button-block">View Contacts</button></a>
  </ion-content>
</ion-view>
