<ion-view title="Login" id="page4" style="background-color:#3FA9F5;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <h1 id="login-heading1" style="color:#FFFFFF;text-align:center;">What's The Plan</h1>
    <form id="login-form1" class="list">
      <div class="spacer" style="width: 300px; height: 21px;"></div>
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input ng-model="data.email" type="text" placeholder="" value="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input ng-model="data.password" type="password" placeholder="" value="">
        </label>
      </ion-list>
      <button ng-click="signInEmail()" id="login-button1" class="button button-light button-large button-block">Login</button>
      <a ng-click="goSignUp()" id="login-button2" class="button button-light  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>
