<ion-view title="What's The Plan" hide-back-button="true" id="page6" style="background-color:#3FA9F5;">
  <ion-nav-buttons side="right" class="has-header">
    <button menu-toggle="right" class="button button-stable icon ion-navicon-round"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <form id="main-form5" class="list row">
      <div class="col col-50">
        <a style="display:block;" ui-sref="profile">
          <img src="img/gHOP5jsmRTaUECylKJHr_icon_profile.png" style="display:block;width:100%;height:auto;">
        </a>
      </div>
      <div class="col col-50">
        <a style="display:block;" ui-sref="medicalRecords">
          <img src="img/nV7FoppMReuAnTs3uebQ_icon_records.png" style="display: block; width: 100%; height: auto; margin-left: auto;">
        </a>
      </div>
    </form>
    <form id="main-form6" class="list row">
      <div class="col col-50">
        <a style="display:block;" ui-sref="appointments">
          <img src="img/ZQsygljSIexQmhpsfoxv_icon_appointments.png" style="display:block;width:100%;height:auto;">
        </a>
      </div>
      <div class="col col-50">
        <img src="img/1Vk0avg5QqmP1kiElO1O_icon_medication.png" style="display: block; width: 100%; height: auto; margin-left: auto;">
      </div>
    </form>
    <form id="main-form7" class="list row">
      <div class="col col-50">
        <a style="display:block;" ui-sref="careplanMenu">
          <img src="img/5vTQogITS3KarZMLIrZA_icon_careplan.png" style="display: block; width: 100%; height: auto; margin-left: auto;">
        </a>
      </div>
      <div class="col col-50">
        <a style="display:block;" ui-sref="notes">
          <img src="img/Ufp9csWtROuuBuqQYDtD_icon_notes.png" style="display:block;width:100%;height:auto;">
        </a>
      </div>
    </form>
  </ion-content>
</ion-view>
