<ion-view title="Medications">
  <ion-content padding="true" class="has-header">
    <a style="text-decoration: none;" ui-sref="medications"><button style="background: #3FA9F5; text-decoration: none;" class="button icon-right ion-medkit button-positive button-block">My Prescribed Medications</button></a>
    <a style="text-decoration: none;" ui-sref="medicationReminder"><button style="background: #3FA9F5; text-decoration: none;" class="button icon-right ion-clock button-positive button-block">Medication Reminder</button></a>
  </ion-content>
</ion-view>
