<ion-view title="Medications" style="background-color:#FFFFFF;">
  <ion-content padding="false" class="has-header">
    <div id="medications-container">
      <ion-list id="medications-list">
        <a ng-repeat="(key, medication) in medications" href="javascript:void(0)" ng-click="goViewMedication('{{key}}')" style="text-decoration: none;">
          <ion-item class="item item-icon-left item-icon-right" id="medications-list-item">
            <i class="icon ion-medkit"></i>
            {{medication.Medication_item}}
            <i class="icon ion-ios-arrow-right"></i>
          </ion-item>
        </a>
        <ion-item ng-show="!medications">No medications to display</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
