<ion-view title="Medical Records" id="page11">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-clipboard"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <ion-list id="medicalData-list8">
      <a ui-sref="diagnosis" style="text-decoration: none;">
        <ion-item class="item-icon-left item-icon-right" id="medicalData-list-item13">
          <i class="icon ion-ionic"></i>Diagnosis
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </a>
      <a ui-sref="surgeries" style="text-decoration: none;">
        <ion-item class="item-icon-left item-icon-right" id="medicalData-list-item14">
          <i class="icon ion-scissors"></i>Surgeries
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </a>
      <a ui-sref="allergies" style="text-decoration: none;">
        <ion-item class="item-icon-left item-icon-right" id="medicalData-list-item15">
          <i class="icon ion-ios-nutrition-outline"></i>Allergies
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </a>
      <a ui-sref="labTests" style="text-decoration: none;">
        <ion-item class="item-icon-left item-icon-right" id="medicalData-list-item16">
          <i class="icon ion-ios-paper-outline"></i>Laboratory Tests
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
