<ion-view title="Medications" id="page1" style="background-color:#3FA9F5;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="medications-card21">
      <ion-item class="item-icon-left dark" id="medications-list-item6">
        <i class="icon ion-plus-circled"></i>Add new medication package</ion-item>
      <ion-item id="medications-list-item9" ui-sref="menu.cloud">Divider</ion-item>
      <ion-item id="medications-list-item10">Item</ion-item>
      <ion-item id="medications-list-item11">Item</ion-item>
      <ion-item id="medications-list-item12">Item</ion-item>
      <ion-item id="medications-list-item13">Item</ion-item>
    </div>
  </ion-content>
</ion-view>