<ion-view title="Signup" hide-nav-bar="true" hide-back-button="true"  nav-transition="none" cache-view="false" id="page7" style="background-color:#3FA9F5;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
      <form id="signup-form4" class="list center-form">
      <h1 id="signup-heading2" style="color:#FFFFFF;font-weight:300;text-align:center;">What's The Plan</h1>
      <div class="spacer" style="width: 300px; height: 21px;"></div>
      <ion-slide-box show-pager="false" ng-init="disableSwipe()">
        <ion-slide>
              <ion-list id="signup-list4">
                <label class="item item-input top-input" id="signup-input10">
                  <span class="input-label">Email:</span>
                  <input ng-model="data.email" type="text" placeholder="" value="">
                </label>
                <label class="item item-input" id="signup-input11">
                  <span class="input-label">Password:</span>
                  <input ng-model="data.password" type="password" placeholder="" value="">
                </label>
                <label class="item item-input bottom-input" id="signup-input12">
                  <span class="input-label">Confirm Password:</span>
                  <input ng-model="data.confirmPassword" type="password" placeholder="" value="">
                </label>
              </ion-list>
              <a ng-click="nextSlide()" id="signup-button4" style="color:#696969;" class="button button-light  button-block">Next</a>
        </ion-slide>
        <ion-slide>
              <ion-list id="signup2-list6">
                <label class="item item-input top-input" id="signup2-input15">
                  <span class="input-label">Full Name:</span>
                  <input ng-model="data.fullName" type="text" placeholder="" value="">
                </label>
                <label class="item item-input" id="signup2-input23">
                  <span class="input-label">Gender:</span>
                  <input ng-model="data.gender" type="text" placeholder="" value="">
                </label><!--
                <label class="item item-input" id="signup2-input24">
                  <span class="input-label">Date of Birth</span>
                  <input ng-model="data.dateOfBirth" type="date" placeholder="" value="">
                </label> -->

                  <label class="item item-icon-right item-input" id="signup2-input24" ion-datetime-picker date ng-model="data.dateOfBirth">
                    <span class="input-label">Date of Birth:</span>
                    <i class="icon ion-ios-calendar-outline positive"></i>
                    <span>{{data.dateOfBirth| date: "dd-MM-yyyy"}}</span>
                  </label>

                <label class="item item-input" id="signup2-input25">
                  <span class="input-label">Nationality:</span>
                  <input ng-model="data.nationality" type="text" placeholder="" value="">
                </label>
                <label class="item item-input bottom-input" id="signup2-input26">
                  <span class="input-label">Marital Status:</span>
                  <input ng-model="data.maritalStatus" type="text" placeholder="" value="">
                </label>
              </ion-list>
              <div class="button-bar">
                <a ng-click="nextSlide()" id="signup2-button6" style="color:#696969;" class="button button-light  button-block">Next</a>
                <a ng-click="previousSlide()" id="signup2-button6" style="color:#696969;" class="button button-light button-block">Back</a>
              </div>
        </ion-slide>
        <ion-slide>
              <ion-list id="signup3-list11">
                <label class="item item-input top-input" id="signup3-input27">
                  <span class="input-label">NHS Number:</span>
                  <input ng-model="data.nhsNumber" type="text" placeholder="" value="">
                </label>
                <label class="item item-input" id="signup3-input28">
                  <span class="input-label">GP Name:</span>
                  <input ng-model="data.gpName" type="text" placeholder="" value="">
                </label>
                <label class="item item-input" id="signup3-input29">
                  <span class="input-label">GP Surgery:</span>
                  <input ng-model="data.gpSurgery" type="text" placeholder="" value="">
                </label>
              </ion-list>
              <div class="button-bar">
                <a ng-click="signupEmail()" id="signup3-button8" style="color:#696969;" class="button button-energized  button-block">Sign up</a>
                <a ng-click="previousSlide()" id="signup2-button6" style="color:#696969;" class="button button-light  button-block">Back</a>
              </div>
        </ion-slide>
      </ion-slide-box>
      <a ui-sref="login" id="signup3-button9" style="font-weight:300;color:#FFFFFF;" class="button button-light  button-block button-clear">Already have an account?</a>
      </form>
  </ion-content>
</ion-view>

