<ion-view title="Signup" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="signup-form3" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input7">
          <span class="input-label">Email</span>
          <input ng-model="email" type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input8">
          <span class="input-label">Password</span>
          <input ng-model="password" type="password" placeholder="">
        </label>
        <label class="item item-input" id="signup-input9">
          <span class="input-label">Confirm Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <button ng-click="signupEmail()" id="signup-button3" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>
