<ion-view title="Consultation Notes" id="page10" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right" class="has-header">
    <button nav-transition="none" ng-click="goEditNote()" class="button button-stable icon ion-edit blue-theme-button"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="show-list-numbers-and-dots">
      <h3 style="color:#3FA9F5; display: block; text-align: center;  font-weight: normal; margin-bottom:10px;">{{note.title}}</h3>
      <p style="color:#3F3F3F;font-size:17px;">
        <strong>Consultant:</strong> <span style="color:#F46A00">{{note.consultant}}</span></p>

      <p style="color:#3F3F3F;font-size:17px;">
        <strong>Location:</strong> <span>{{note.location}}</span></p>

      <p style="color:#3F3F3F;font-size:17px;">
        <strong>Date/Time:</strong> <span style="color:#35B200">{{note.datetime}}</span></p>

      <p style="color:#3F3F3F;font-size:17px;">
        <strong>Notes:</strong>
        <div ng-bind-html="note.notes"></div>
      </p>
    </div>
  </ion-content>
</ion-view>
