<ion-view title="{{medication.Medication_item}}" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-divider">Status</div>
      <div class="item item-body">
        <div>
          {{medication.Course_status}}
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Clinical Indication</div>
      <div class="item item-body">
        <div>
          {{medication.Clinical_indication}}
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Overall Directions</div>
      <div class="item item-body">
        <div>
          {{medication.Overall_directions_description}}
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Additional Instructions</div>
      <div class="item item-body">
        <div>
          {{medication.Additional_instruction}}
          <span ng-show="!medication.Additional_instruction">none</span>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
