<ion-view title="{{surgery.procedure_name}}" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-divider">Surgery Date/Time</div>
      <div class="item item-body">
        <div>
          {{surgery.datetime}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Performer</div>
      <div class="item item-body">
        <div>
          {{surgery.performer}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Procedure Notes</div>
      <div class="item item-body">
        <div>
          {{surgery.procedure_notes}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Procedure Step</div>
      <div class="item item-body">
        <div>
          {{surgery.procedure_step}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
