<ion-view title="Surgeries" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="show-list-numbers-and-dots">
      <h3 style="color:#3FA9F5; display: block; text-align: center; text-decoration: underline; font-weight: normal; margin-bottom:10px;">{{surgery.procedure_name}}</h3>
      <p style="color:#3F3F3F;font-size:17px;">
        Performed on <span style="color:#35B200">{{surgery.datetime}}</span></p>

      <p style="color:#3F3F3F;font-size:17px;">
        <strong>Performer:</strong> <span>{{surgery.performer}}</span></p>

      <p style="color:#3F3F3F;font-size:17px;">
        <strong>Procedure Notes:</strong> <span>{{surgery.procedure_notes}}</span></p>

      <p style="color:#3F3F3F;font-size:17px;">
        <strong>Procedure Step:</strong> <span>{{surgery.procedure_step}}</span></p>

    </div>
  </ion-content>
</ion-view>
