<ion-view title="{{diagnosis.problem}}" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-divider">Diagnosed Date</div>
      <div class="item item-body">
        <div>
          {{diagnosis.datetime}}
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Author</div>
      <div class="item item-body">
        <div>
          {{diagnosis.author}}
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Description</div>
      <div class="item item-body">
        <div>
          {{diagnosis.description}}
          <span ng-show="!diagnosis.description">none</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
